*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
h1{
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
ul,ol,li{
padding: 0;
margin: 0;
text-decoration: none;
}
header{
    background-color: #4b6d95 ;
    max-width: 1920px;
    margin: 0px auto;
    height: 200px;
   
}
.rex{
    width: 100px;
    
    position: absolute;
margin-top: 77px;
margin-left: 149px;
}
.rex1{
    display: flex;
    justify-content: center;
align-items: flex-end;
height: 110px;
margin-left: 100px;
}
.rex2{
    margin-right: 80px;
font-size: 30px;
color: white;
}
.podr{
    background-color: #a6bdd7;
    max-width: 1920px;
    margin: 0px auto;
    height: 1000px;
}

.slider {
  width: 1200px;
  height: 830px;
 
  position: absolute;
  margin-top: 70px;
  margin-left: 300px;
}
.slider1{
  position: absolute;
  opacity: 0;
  width: 1300px;
  height: 800px;
  object-fit: cover;

  border-radius: 6px;
  left: -40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.slider1:target {
  opacity: 1;
  left: 0;
  transition: all .5s ease-in-out;
}
.slider1#slide6 {
  opacity: 1; 
  left: 0;
}
.slider1:not(:target), .slider1:target ~ img#slide6  {
  opacity: 0;
  left: -40px;
}

.slid {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -65px;
    padding: 0;
}
.slid .slid1 {
   display: inline-block;
   margin: 0 .3em;
}
.slid .slid1 .slid2{
  margin: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;  
  background: #ccc;
}

.slid2[href="#slide5"] {
  background: #1E8CBE;
}

#slide1:target ~ .slid .slid1 .slid2[href="#slide1"],
#slide2:target ~ .slid .slid1 .slid2[href="#slide2"],
#slide3:target ~ .slid .slid1 .slid2[href="#slide3"],
#slide4:target ~ .slid .slid1 .slid2[href="#slide4"],
#slide5:target ~ .slid .slid1 .slid2[href="#slide5"],
#slide5:target ~ .slid .slid1 .slid2[href="#slide6"] {
  background: #1E8CBE;
}

#slide1:target ~ .slid .slid1 .slid2[href="#slide6"],
#slide2:target ~ .slid .slid1 .slid2[href="#slide6"],
#slide3:target ~ .slid .slid1 .slid2[href="#slide6"],
#slide4:target ~ .slid .slid1 .slid2—Å[href="#slide6"]{
  background: #ccc;
}
.karta{
    background-color: black;
    max-width: 1920px;
    margin: 0px auto;
    height: 1000px;
}

.kar{
  color: #FFF;
  margin-left: 200px;

}
.fot{
  background-color: #4b6d95;
  max-width: 1920px;
  margin: 0px auto;
  height: 250px; 
}
.fot1{
  position: absolute;
  margin-left: 80px;
  margin-top: 30px;
}
.fot2{

}
.yu{
width: 110px;
height: 20px
}
.yu1{
color: #FFF;
font-size: 30px;
}
.yu2{
color: #FFF;
font-size: 25px;
height: 20px;
margin-bottom: 5px;
}
.yu3{
color: #FFF;
margin-top: 20px;
font-size: 22px;
}

.karta1{
  margin-top: 30px;
}
.sect{
   background-color: #a6bdd7;
    max-width: 1920px;
    margin: 0px auto;
    height: 1700px;
}
.container{
  margin: 0px auto;
  max-width: 1200px;
}
.dvor{
  margin-top: 20px;
  
  border-radius: 30px;
}
.texr{
  color: #fff;
  font-size: 25px;
}